@using System
@model ImageGallery.Models.PagedList<ImageGallery.Models.Photo>

@foreach (var item in Model.Content)
{
    <a href="@item.ImagePath" title="@item.Description" data-gallery>
        @{                                                                   
            <img src="@item.ThumbPath" alt="@item.Description" class="img-rounded" style="margin-bottom: 7px;"/>
        }
    </a>
}