@using System
@model ImageGallery.Models.PagedList<ImageGallery.Models.Photo>

@foreach (var item in Model.Content)
{
    <li>
        @{
            var base64 = Convert.ToBase64String(item.Data);
            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
        }
        <img src='@imgsrc' />
    </li>
}